<div class="linha">
  <div class="coluna">
    <div class="cards">
      <div class="card-header">
        <span>Lista de Clientes</span>
      </div>
      <div class="card-body">
        <table>
          <thead>
            <tr>
              <th>Sr No</th>
              <th>Company Name</th>
              <th>Person Name</th>
              <th>Contact No</th>
              <th>City</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="linha">
  <div class="coluna">
    <div class="cards">
      <div class="card-header">
        <span>Novo Clientes</span>
      </div>
      <div class="card-body">
        <div class="linha">
          <div class="coluna">
            <label for="">Nome</label>
            <input type="text" [(ngModel)]="clientObj.contactPersonName" class="form-control" />
          </div>
          <div class="coluna">
            <label for="">Empresa</label>
            <input type="text" [(ngModel)]="clientObj.companyName" class="form-control" />
          </div>
          <div class="coluna">
            <label for="">Cidade</label>
            <input type="text" [(ngModel)]="clientObj.city" class="form-control" />
          </div>
          <div class="coluna">
            <label for="">Estado</label>
            <input type="text" [(ngModel)]="clientObj.state" class="form-control" />
          </div>
          <div class="coluna">
            <label for="">Pincode</label>
            <input type="text" [(ngModel)]="clientObj.pincode" class="form-control" />
          </div>
          <div class="coluna">
            <label for="">Adress</label>
            <input type="text" [(ngModel)]="clientObj.address" class="form-control" />
          </div>
          <div class="coluna">
            <label for="">Employee Strength</label>
            <input type="text" [(ngModel)]="clientObj.employeeStrength" class="form-control" />
          </div>
          <div class="coluna">
            <label for="">gstNo</label>
            <input type="text" [(ngModel)]="clientObj.gstNo" class="form-control" />
          </div>
          <div class="coluna">
            <label for="">regNo</label>
            <input type="text" [(ngModel)]="clientObj.regNo" class="form -control" />
          </div>
        </div>
        <div class="linha linha-2">
          <div class="coluna">
            <button>Resetar</button>
            <button (click)="onSaveClient()">Salvar Cliente</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
