.vh-100 {
  height: 100vh;
}

.h-custom {
  height: calc(100% - 73px);
}

.container-fluid {
  padding: 2rem;
}

img.img-fluid {
  max-width: 100%;
  height: auto;
}

.form-control {
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #6c757d;
}
.form-control:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}

.form-label {
  margin-top: 0.5rem;
  font-weight: bold;
  color: #6c757d;
}

.form-check-input {
  margin-right: 0.5rem;
}

.btn {
  border-radius: 0.5rem;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}
.btn.btn-primary {
  background-color: #0d6efd;
  border: none;
}
.btn.btn-primary:hover {
  background-color: #0257d5;
}
.btn.btn-floating {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 0;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #6c757d;
}
.divider::before, .divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #6c757d;
}
.divider::before {
  margin-right: 1rem;
}
.divider::after {
  margin-left: 1rem;
}

.text-body {
  color: #6c757d;
  text-decoration: none;
}
.text-body:hover {
  text-decoration: underline;
}

.link-danger {
  color: #dc3545;
  text-decoration: none;
}
.link-danger:hover {
  text-decoration: underline;
}

.bg-primary {
  background-color: #0d6efd !important;
}

footer .text-white {
  color: #ffffff;
}
footer a {
  text-decoration: none;
  color: #ffffff;
}
footer a:hover {
  color: white;
}